include index
  h1
   a(href='/groups/#{group_id}/flashcards') Flashcards
  hr
  h2 #{group_name}

  .allFlashcardsDiv(ng-controller='flashcardController' ng-init='flashcards=#{flashcards}; topic=#{topic};')
    a(href='/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/edit').gray Edit flashcards
    h3 {{ topic.title }}
    .leftArrow(ng-click="goBack(); flipped=false")
    .rightArrow(ng-click="goForward(); flipped=false") 
    .flashcardDiv(ng-repeat='flashcard in flashcards')
      .flashcardTerm(ng-show="currentCard===$index && flipped===false" ng-click="flipped = !flipped")
        p
          {{flashcard.term}}
      .flashcardDef(ng-show="currentCard===$index && flipped===true" ng-click="flipped = !flipped")
        p
          {{flashcard.definition}}
