include index
  .mainTopicDiv(ng-controller='topicController' ng-init='topics=#{topics}')
    h1 #{group_name}
    if JSON.parse(topics).length
      a(href='/groups/#{group_id}/topics/new').grayed Create a new topic
      .topicDiv(ng-repeat='topic in topics')
        a(href='/groups/#{group_id}/flashcards/{{topic._id}}' ).flashcard
          {{ topic.title }}
    else
      p You don't have any topics yet!
      a(href='/groups/#{group_id}/topics/new').button Create a new topic
      