//- public/js/editFlashcards.js
include ../index
  h1 #{group_name}
  hr
  .shareDiv(ng-controller="shareController" ng-init="padIDs = #{pads}.length ? #{pads}: [0] ; topic = #{topic}; getPages()")
    a.requests(href="#" ng-click="addFlashcard()") + Add flashcard
    h3 {{topic.title}}
      span Saved!
    p
    #editors(data-user="#{user}")
    p
    .shareDivWrapper
      .flashcardPad(ng-repeat="flashcard in padIDs")  
        .cardPads(id="{{topic._id}}-pad{{padIDs[$index]}}")
          textarea.editTerm(id="{{topic._id}}-pad{{padIDs[$index]}}-term" placeholder="Enter term here..." ng-keydown="addRow($event, $index, 'term')")
          textarea.editDef(id="{{topic._id}}-pad{{padIDs[$index]}}-def" placeholder="Enter definition here..." ng-keydown="addRow($event, $index, 'def')")
          button(ng-click="removeFlashcard($index)" id='removeButton') x
      button(ng-click="saveText()") Save Flashcards
      p
      span(ng-repeat="num in numPages") 
        a.gray.tiny(href="/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/edit?page={{num}}") {{ num }}  
    p 
      a(href="/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/") See flashcards
include ../footer
