include ../index
  h1
   a(href='/groups/#{group_id}/flashcards') Flashcards
  hr
  h2 #{group_name}

  .allFlashcardsDiv(ng-controller='flashcardController' ng-init='flashcards=#{flashcards}; topic=#{topic};')
    if JSON.parse(flashcards).length
      a(href='/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/edit').gray Edit flashcards
      h3 {{ topic.title }} 
      .leftArrow(ng-click="goBack(); flipped=false")
      .rightArrow(ng-click="goForward(); flipped=false") 
      .flashcardDiv(ng-repeat='flashcard in flashcards' id='div-{{$index}}' ng-show="currentCard===$index")
        .face.front(ng-click="flip($index)")
          p(data-length="{{flashcard.term.length}}")
            {{flashcard.term}}
        .face.back(ng-click="flip($index)")
          p(data-length="{{flashcard.definition.length}}")
            {{flashcard.definition}}
    else
      p You don't have any flashcards yet!
      a(href='/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/edit').button Add flashcards
      