include ../index
  .mainTopicDiv(ng-controller='topicController' ng-init='topics=#{topics}')
    h1 #{group_name}
    hr
    a(href='#' ng-click="submitTopic()") Create a new topic
    p
    if JSON.parse(topics).length
      .topicDiv(ng-repeat='topic in topics')
        span(ng-if="topic.title.length > 28")
          a(href='/groups/#{group_id}/flashcards/{{topic._id}}' ) {{ topic.title | limitTo: 28 }}...
        span(ng-if="topic.title.length < 28")
          a(href='/groups/#{group_id}/flashcards/{{topic._id}}' ) {{ topic.title }}
    else
      p You don't have any topics yet!
      a.button(href='/groups/#{group_id}/topics/new') Create a new topic
      